<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Go Proverbs</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Proverb</th>
				<th>URL</th>
			</tr>
		</thead>
		<tbody>
			{{#each proverbs}}
			<tr>
				<td>{{ id }}</td>
				<td>{{ proverb }}</td>
				<td><a href="{{ url }}">{{ url }}</a></td>
			<tr>
			{{/each}}
		</tbody>
	</table>
	
</body>
</html>